.box-1 {
  border: 2px solid gray;
  padding: 20px;
}

.btn-test {
  border-radius: 25px;
  padding: 5px;
  border: none;
  color: aliceblue;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(11, 115, 66);
}
